h1 {
    font-size: 2.5em;
    color: #ffffff;
}

h2 {
    font-size: 2em;
    color: #ffffff;
}

p {
    font-size: 1em;
    line-height: 1.5;
    color: #ffffff;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


